{% extends '::base.html.twig' %}
{% block body -%}
	<h1>Paquete Familiar Cancun</h1>

	<label>
		6 días 5 noches<br>
		En el sexto día el avión sale a las 1:00 pm<br>
		4 Adulto 2 niño<br>
		Cargo adicional por persona $3000<br>
		Hotel incluido<br>
		Avión ida y vuelta $15,000<br>
	</label>
	<a href="{{ path('vuelos_show') }}">
		<button>Regresar</button>
	</a>
	<a href="{{ path('usuario_new') }}">
		<button>Continuar</button>
	</a>
{% endblock %}