{% extends '::base.html.twig' %}
{% block body -%}

	<a href="{{ path('vuelos_aca') }}">
		<button>acapulco</button>
	</a>
	<a href="{{ path('vuelos_can') }}">
		<button>cancun</button>
	</a>
	<a href="{{ path('vuelos_cabos') }}">
		<button>los cabos</button>
	</a>
{% endblock %}